$font-stack: 'Avenir', Helvetica, Arial, sans-serif
$html-font-size: 10px
$main-font-size: 1.6rem

$black-color: #2c3e50
$white-color: #ffffff
$grey-color: #b8c1ca
$blue-color: #34a6f2
$green-color: #22c137
$red-color: #ea4a5d
$yellow-color: #f5c71e
$blue-light-color: #e7f1f9
$green-light-color: #9cd2a3
$grey-light-color: #e2e4e7


//min widht (include)
$screen-sm: 576px
$screen-md: 768px
$screen-lg: 992px
$screen-xl: 1200px
$screen-sxl: 1650px
